main{
  display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "titulo titulo titulo"
      "section1 section2 section3"
      "section4 section5 section6"
      "section7 section8 section9" ;
    margin: 0;
    padding: 0;
}
main h2{
    grid-area: titulo;
    padding: 20px;
}

/*Especificidad (0,1,2)*/
main  section:nth-child(2) {
  grid-area: section1;
  padding: 20px;
}
/*Especificidad (0,1,2)*/
main  section:nth-child(3) {
  grid-area: section2;
  padding: 20px;
}
/*Especificidad (0,1,2)*/
main  section:nth-child(4) {
  grid-area: section3;
  padding: 20px;
}
/*Especificidad (0,1,2)*/
main  section:nth-child(5) {
  grid-area: section4;
  padding: 20px;
}
/*Especificidad (0,1,2)*/
main  section:nth-child(6) {
  grid-area: section5;
  padding: 20px;
}
/*Especificidad (0,1,2)*/
main  section:nth-child(7) {
  grid-area: section6;
  padding: 20px;
}
/*Especificidad (0,1,2)*/
main  section:nth-child(8) {
  grid-area: section7;
  padding: 20px;
}
/*Especificidad (0,1,2)*/
main  section:nth-child(9) {
  grid-area: section8;
  padding: 20px;
}
/*Especificidad (0,1,2)*/
main  section:nth-child(10) {
  grid-area: section9;
  padding: 20px;
}
section{
  display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "titulo2 titulo2"
      "lista imagen" ;
    margin: 0;
    padding: 0;
}
section h3{
    grid-area: titulo2;
    padding: 20px;
}
section ul{
  grid-area: lista;
  padding: 20px;
}

section img{
  grid-area: imagen;
  padding: 20px;
}