header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #d21d1d;
}

header img {
  height: 2.5em;
  
}

header input[type="search"] {
  flex: 1;
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

nav {
  text-align: center;
  background-color: #d21d1d;
  color: white;
}

nav ul {

  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
  color: white;
  
}

nav ul li a {
  text-decoration: none;
  color: white;
}
